.CodeMirror {
    font-size: .8em;
    height: auto;
}

.CodeMirror-scroll {
    overflow-y: hidden;
    overflow-x: auto;
}

#header_img {
    margin-top: 2em;
    margin-bottom: 1em;
}

.list-inline {
	list-style: none;
	margin-left: -0.5em;
	margin-right: -0.5em;
	padding-left: 0;
}

.list-inline > li {
	display: inline-block;
	margin-left: 0.5em;
	margin-right: 0.5em;
}

.quality_emoji {
	font-size: 50px;
}

.comp-margin {
	margin-bottom: 10px
}

/* Custom CSS for maintaining aspect ratio */
.aspect-ratio-container {
	position: relative;
	width: 100%;
	padding-top: 56.25%;
	/* 16:9 aspect ratio (h / w * 100%) */
	overflow: hidden;
}

.responsive-video {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.mini {
  height: 120px;
  border: 1px solid #000000;
}

.top-gutter {
  padding-top: 15px;
}
